---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import AutomationBenefits from '../components/AutomationBenefits.astro';
import AIServices from '../components/AIServices.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="AutomatisationPro - Solutions d'automatisation innovantes">
	<main>
		<Hero />
		<Services />
		<AutomationBenefits />
		<AIServices />
		<Contact />
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>